services:
  discovery-server:
    build: infra/discovery-server
    container_name: discovery-server
    ports:
      - "8761:8761"
    networks:
      - study-platform-net
    healthcheck:
      test: "curl --fail --silent discovery-server:8761/actuator/health | grep UP || exit 1"
      timeout: 5s
      interval: 20s
      retries: 5

  config-server:
    build: infra/config-server
    container_name: config-server
    ports:
      - "8888:8888"
    networks:
      - study-platform-net
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka/
      - SERVER_PORT=8888
    depends_on:
      discovery-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8888/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 10

  auth-service:
    volumes:
      - ./auth-data:/data
    build:
      context: ./service-auth
    container_name: auth-service
    ports:
      - "8081:8081"
      - "6565:6565"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka/
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888
      - SPRING_CLOUD_CONFIG_FAILFAST=true
      - SERVER_PORT=8081
    networks:
      - study-platform-net
    depends_on:
      config-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8081/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 10
  auth-db:
    image: postgres:16.1
    container_name: postgres-ewm-event-db
    networks:
      - ewm-net
    environment:
      - POSTGRES_PASSWORD=root
      - POSTGRES_USER=root
      - POSTGRES_DB=ewm-event
    healthcheck:
      test: pg_isready -q -d $$POSTGRES_DB -U $$POSTGRES_USER
      timeout: 5s
      interval: 10s
      retries: 15

  user-service:
    build:
      context: ./course/service-user
    container_name: user-service
    ports:
      - "8082:8082"
      - "9090:9090"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka/
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888
      - SPRING_CLOUD_CONFIG_FAILFAST=true
    networks:
      - study-platform-net
    depends_on:
      config-server:
        condition: service_healthy
      auth-service:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8082/actuator/health" ]
      interval: 30s
      timeout: 20s
      retries: 10

  #Gatewa-service
  gateway-server:
    build: infra/api-gateway
    container_name: gateway-server
    ports:
      - "8080:8080"
    depends_on:
      config-server:
        condition: service_healthy
      user-service:
        condition: service_healthy
      auth-service:
        condition: service_healthy
    networks:
      - study-platform-net
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka/
    healthcheck:
      test: "curl --fail --silent localhost:8081/actuator/health | grep UP || exit 1"
      timeout: 5s
      interval: 25s
      retries: 10

#    #Event-service
#  event-service:
#    build: core/event-service
#    container_name: event-service
#    depends_on:
#      event-db:
#        condition: service_healthy
#      config-server:
#        condition: service_healthy
#    networks:
#      - std-plat-net
#    environment:
#      - SPRING_DATASOURCE_URL=jdbc:postgresql://event-db:5432/ewm-event
#      - SPRING_DATASOURCE_USERNAME=root
#      - SPRING_DATASOURCE_PASSWORD=root
#      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka/
#      - SERVER_PORT=8081
#    healthcheck:
#      test: "curl --fail --silent localhost:8081/actuator/health | grep UP || exit 1"
#      timeout: 5s
#      interval: 25s
#      retries: 10
#  event-db:
#    image: postgres:16.1
#    container_name: postgres-ewm-event-db
#    networks:
#      - std-plat-net
#    environment:
#      - POSTGRES_PASSWORD=root
#      - POSTGRES_USER=root
#      - POSTGRES_DB=ewm-event
#    healthcheck:
#      test: pg_isready -q -d $$POSTGRES_DB -U $$POSTGRES_USER
#      timeout: 5s
#      interval: 10s
#      retries: 15
networks:
  study-platform-net: