jwt:
  secret: 2k+LrX0sAr5YLK/2NNBY82JI9EwJq/Rfx3sYnVFPbFBqbdRSRFPSjqCDwqToN2C8jyPuPZD3sFBuJ3EnDkiSvw==

server:
  port: 8081

grpc:
  server:
    port: 6565
    enabled: true
  client:
    user-service:
      address: static://user-service:9090
      enable-keep-alive: true

spring:
  application:
    name: auth-service
  config:
    import: "configserver:"
  cloud:
    config:
      uri: http://config-server:8888
      fail-fast: false
      discovery:
        enabled: false
  cloud.gateway:
    discovery:
      locator:
        enabled: true
        lower-case-service-id: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    preferIpAddress: true
    hostname: localhost
    instanceId: "${spring.application.name}:${server.port}"
    leaseRenewalIntervalInSeconds: 10
    metadata-map:
      grpcPort: 6565

#Documentation
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
  show-actuator: false

#Log
logging:
  level:
    io.grpc: DEBUG